<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="admin.css" />
    <script defer src="admin.js"></script>

    <title>admin</title>
  </head>
  <body>
    <section id="only">
      <ul class="list">
        <li class="question-box rejected">
          <p class="question">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab
            delectus maiores quaerat architecto repellat, recusandae molestias
            nobis corporis laborum explicabo non odio nulla ea facilis magni
            perspiciatis, mollitia iusto possimus? Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed diam nonumy Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Tenetur dolorum tempore facere
            commodi ad debitis dignissimos consequatur voluptatibus et eaque
            iure, laborum nostrum sint at iste, eos error, provident maxime?
          </p>
          <div class="button-container">
            <img class="logo accept" src="../customers/check-mark.png" />
            <img class="logo reject" src="../customers/cross.png" />
          </div>
        </li>
        <li class="question-box">
          <p class="question">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio harum
            deleniti ullam ipsum amet blanditiis quo doloremque, eligendi nemo
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
            harum molestias esse odio corporis, officiis cum amet placeat
            aperiam
          </p>
          <div class="button-container">
            <div class="loading"></div>
            <!-- <img class="logo accept" src="../customers/check-mark.png" />
            <img class="logo reject" src="../customers/cross.png" /> -->
          </div>
        </li>
        <li class="question-box accepted">
          <p class="question">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio harum
            deleniti ullam ipsum amet blanditiis quo doloremque, eligendi nemo
          </p>
          <div class="button-container">
            <img class="logo accept" src="../customers/check-mark.png" />
            <img class="logo reject" src="../customers/cross.png" />
          </div>
        </li>
      </ul>
    </section>
  </body>
</html>
